<div>
      <p>
        Hi, my name is {{.RequesterName}} and I am a resident of {{.Neighbourhood}}. I am asking to redirect money away from the {{.City}} PD and into the following social services: {{.SocialService}}. I request that an emergency meeting be called before the fiscal year goes into effect in order to deny the mayor’s proposed budget and reallocate these funds to resources from which the citizens can benefit.
        <br><br>
        Thank you for your time.
        <br><br>
        Kind Regards, {{.RequesterName}} <br>
        {{.RequesterAddress}} <br>
        {{.RequesterEmail}} <br>
        {{.RequesterPhoneNumber}}
      </p>
 </div>

