<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <script>
            const emailTemplate = {
                "subject": "Defund the [INSERT CITY] Police Department",
                "message": "Hi, my name is [NAME] and I am a resident of [NEIGHBORHOOD]. I am asking to<br>\
                 redirect money away from the [INSERT CITY] PD and into the following social."
            };

            const RedirectToEmailService = new( class {
                goToGmail() {
                    console.log("opening gmail");
                    const { subject, message } = emailTemplate;
                    window.open(`https://mail.google.com/mail/?view=cm&fm=1&su=${subject}&body=${message}`, '_blank')
                }
            })();

            RedirectToEmailService.goToGmail();
        </script>
        <script type="javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    </body>
</html>